



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style> -->
        <style>
        #main div {
    -ms-flex: 1; /* IE 10 */
    flex: 1;
  }
  body {
      background-color: #fffdd2;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }
  .container{
      position:relative;
      /* top: 100px; */
      width: 100%;
      height: 60px;
      /* text-align: center; */
      /* border: 3px solid green; */
      background-color:#034417;
      /* inline-size: none; */
      display: inline-flex;
      /* padding: 5px;00 */
      /* padding-left: 5px; */
      color: aliceblue;
      padding-bottom: 5px;
  }
  .container1{
    position:relative;
    /* top: 100px; */
    width: 100%;
    height: 60px;
    text-align: center;
    /* border: 3px solid green; */
    background-color:#066824;
    /* inline-size: none; */
    display: inline-block;
    /* padding: 5px;00 */
    /* padding-left: 5px; */
    color: aliceblue;
    padding-bottom: 5px;
    
  }
  .container2{
    position:relative;
    /* top: 100px; */
    width: 100%;
    height: 540px;
    /* text-align: center; */
    /* border: 3px solid green; */
    /* background-color:#034417;/ */
    /* inline-size: none; */
    display:flex;
    justify-content: center;
    /* padding: 5px;00 */
    /* padding-left: 5px; */
    color: aliceblue;
    padding: 5px;
    background-image: url("bg3.jpg") ;

  
  
    
  }
    
    .title1
    {
      width: 1150px;
      display: flex;
    }
  .img1 {
      float: left;
      position:relative;
      /* border: 1px solid #8a6a6a; */
      /* border-radius: 4px; */
      height: 40px;
      padding: 10px;
      width: 35px; padding-left: 20px;
    }
    /* <img src="paris.jpg" alt="Paris"> */
    .dropbtn {
      background-color: transparent;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    
    
    .dropdown {
      float:right;
      position:relative;
      display: inline-flex;
      padding: 5px;
      padding-left: 25px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      overflow: auto;
      opacity: 0.8;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      right: 0;
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #fffdfd;}
    
    .show {display: block;}
  .ull {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    /* justify-content: center; */
    overflow: hidden;
    color: #ffffff;
    background-color: transparent;
    display: inline-flex;
    float: right;
  }
  .nav
  {
    /* justify-content: center; */
    padding-bottom: 10px;
  }
  .ull1{
  
      list-style-type: none;
      margin: 0;
      padding: 5px;
      overflow: hidden;
      color: #ffffff;
      background-color: transparent;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 300px;
      /* display: inline-flex;
      float: right;
     */
  }
  .li {
    /* float: left; */
    /* padding: 5px;
    padding-top: 16px; */
    padding-bottom: 5px;
    padding-right: 25px;
  }
  .li1{ 
    padding-top: 25px;
   padding-right: 10px;
   padding-bottom: 25px;
  }
  
  .active {
    display: block;
    color: white;
    /* text-align: center; */
    /* padding: 16px 16px; */
    padding-bottom: 10px;
    text-decoration: none;
  }
  .button {
    background-color:#914d25;
    border:#141111;
    border-color: #141111;
    color: wheat;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 125px;
  }
  
  .button:hover {  
    background-color: #033a3a;
  }
  
  footer {
    background: linear-gradient(to right, #034417, #066824); /* Use a gradient for two colors */
    color: white; /* Text color for the footer */
    padding: 20px; /* Add some padding for spacing */
    text-align: center; /* Center-align the text */
    position: relative;
    margin-top: auto;
  }
  div.MAP
  {
    display: inline-table;
      position: absolute;
      width: 50%;
      left: 50%;
      
  
  }
  div.login
  {
    margin-top: 75px;
    color: #141111;
    font-weight: bold;
    width: 50%;
    right: 100%;
    height: 360px;
    text-align: center;
    
  }
  .or-txt{
    background-color: white;
  }
  .or-line{
    margin-top: -10px;
    border-color: rgba(#333, 0.1);
    width: 50%;
  }
  .finger1
  {
    float: left;
    position:relative;
    /* border: 1px solid #8a6a6a; */
    /* border-radius: 4px; */
    height: 40px;
    padding: 1px;
    padding-top: 2px;
    width: 40px; padding-left: 2px;
  }
  .li1{
    /* text-align: center; */
  }
  .button1 {
    background-color:#ffd139ec;
    border:#141111;
    border-color: #141111;
    color: wheat;
    padding: 12px 12px;
    padding-top: 2px;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 175px;
    height: 50px;
    /* float: left; */
  }
  .button1:hover {  
    background-color: #07516e;
  }
  .text1
  {
    /* padding-top:4px; */
    text-align: center;
    color: #141111;
    padding-bottom: 6px;
    font-weight: bold ;
    font-size: medium;
  }
  .aadhar
  {
    float: left;
    position:relative;
    /* border: 1px solid #8a6a6a; */
    /* border-radius: 4px; */
    height: 30px;
    padding: 1px;
    width: 40px; padding-left: 2px;
    padding-top: 7px;
  }
  .btnlogin
  {
    height: 300px;
    display: inline;
  }
      </style>
      <style>
        /* Center the form */
        .col-6 {
            margin: 0 auto;
        }

        /* Style the form header */
        .text-center {
            font-size: 24px;
            margin-bottom: 20px;
        }

        /* Style form labels */
        .form-label {
            font-weight: bold;
        }

        /* Style form inputs */
        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* Style the age input group */
        .input-group {
            width: 100%;
        }

        /* Style the Proceed button */
        .btn-success {
            background-color: #28a745;
            color: #0f0606;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Style the back to home link */
        a {
            display: block;
            margin-top: 20px;
            text-align: center;
            color: #000000;
        }
        .text-center{
            color: #0e0707;
        }
        .form-label
        {
            color: #0e0707;
        }
    </style>
    
    
</head>
<body>
    <div class="container" style="width: 100%;">
        <div >
            <img class="img1" src="image2.png" alt="image2">
        </div>
        <div class="title1">
            <h2>Government of Kerala</h2>
        </div>  
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">English</i></button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#home">English</a>
              <a href="#about">Hindi</a>
              <a href="#contact">Urdu</a>
            </div>
            <!-- <div id="myDropdown" class="dropdown-content" >
              <a class="dropdown-item" href="#" tolang="en">English (default)</a>
              <a class="dropdown-item" href="#" tolang="it">Italian</a>
              <a class="dropdown-item" href="#" tolang="es">Spanish</a>
              <a class="dropdown-item" href="#" tolang="de">German</a>
            </div> -->
          </div>
        </div>
        <div class="container1">
            <ul class="ull">
              <li class="li"><a class="active" href="https://healthid.ndhm.gov.in/"><p class="nav">ABHA(Health ID)</p></a></li>
              <li class="li"><a class="active" href="#news"><p class="nav">DASHBOARD</p></a></li>
              <li class="li"><a class="active" href="#contact"><p class="nav">FAQ</p></a></li>
              <li class="li" ><a class="button" href="/new" >Register</a></li>
            </ul>
          </div>
          <div class="container2">
    <div class="row">
        <h1 class="text-center">NEW Register</h1>
        <div class="col-6 offset-3">
            <form action="/data" method="post">
                <div class="mb-3"> 
                    <label class="form-label" for="">Email</label>
                    <input class="form-control" type="text" id="email" name="data[email]">
                </div > 
                <div class="mb-3">
                    <label class="form-label"for="Name">Name</label>
                    <input class="form-control"  type="text" id="Name" name="data[Name]">
                </div>
                <div class="mb-3">
                    <label class="form-label"for="Mobile_NO">Mobile NO.</label>
                    <input class="form-control"  type="number" id="Mobile_NO" name="data[Mobile_NO]">
                </div>
                <div class="md-3">
                    <label class="form-label"for="age">your age</label>
                    <div class="input-group ">
                        <span class="input-group-text" id="age">$</span>
                        <input type="number" class="form-control" id="age" name="data[age]" placeholder="0" aria-label="age" aria-describedby="age-label">
                      </div>
                      
                </div>
                
                <div class="mb-3">
                    <label class="form-label"for="description">Description of disease</label>
                    <textarea class="form-control"  type="text" id="description" name="data[description]"></textarea>
                </div>
               <div class="mb-3"> <button class="btn btn-success">Proceed</button>
            </div>
            </form>
            <a href="/">back to home</a>
        </div>
    </div>
     
      </div>
    <footer>
        <!-- Footer content goes here -->
        <p>&copy; By Team Iteraters , IET-DAVV INDORE , PS:-SIH1325</p>
    </footer>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
</body>
</html>
